html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #eeeeee;

  header {
    font-size: 20px;
    background: #abf7b1;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    div {
      padding: 0.75em;
    }

    li {
      border-radius: 10px;
      background: #b49494e3;
      padding: 1em;
      margin-bottom: 1em;
    }

  }

  main {
    /*changing this value between 0-1 changes box size*/
    flex: 1;
    font-size: 30px;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      flex: 0.25;
    }

    p {
      padding: 0.1em;
    }
  }

  footer {
    flex: 0 50px;
    background: #ccccff;
    height: 100px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
