/* body {
  background: white;
  font-family: sans-serif;

  header {
    background: #2244aa;
    padding: 0.75em;

    .inline {
      display: inline;
      color: #eeeeee;
      padding: 0.25em;
      font-size: 20px;
    }
  }

  main {
    text-align: center;
    font-size: 30px;
  }

  footer {
    background: #1c352d;
    color: #eeeeee;
    text-align: center;
    float: bottom;
  }
} */

/*essential for deffining flex*/
html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #eeeeee;

  header {
    font-size: 20px;
    background: #abf7b1;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    div {
      padding: 0.75em;
    }
  }
  
/*   head{
    flex: 0 50px;
    background: #ccccff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } */
  
  main {
    /*changing this value between 0-1 changes box size*/
    flex: 1;
    font-size: 30px;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    p {
      padding: .1em;
    }
}

footer {
  flex: 0 50px;
  background: #ccccff;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
}